<div class="container">
  <div class="row">
    <div class="col-2 align-self-center">
      PIC
    </div>
      <div class="col-6">
        <div style = "margin-top: 3px";>
        <h4>{{item['product_name']}}</h4>
        <div>Type: {{item['product_type']}}</div>
        <div>Material: {{item['product_material']}}</div> 
        {% if "product_price" in item %}
        <div>Price: {{item['product_price']}}</div>
        {% endif %}
        </div>
      </div>
        <div class="col-3 align-self-center">
          <button type="button" class="btn btn-outline-success">Add to Cart</button>
          <button type="button" class="btn btn-success">Buy</button>
        </div>
  </div>
      </div>